@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .container {
  width: 1696px;
  margin: 0 auto;
} */
htnl {
  overflow: hidden;
}

ul,
ol,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

body {
  font-family: CircularStd;
  overflow-x: hidden;
}
.border-gradient1 {
  border-image: linear-gradient(to right, #ffffff, #185f9a);
  border-image-slice: 1;
}

.border-gradient2 {
  border-image: linear-gradient(to left, #ffffff, #185f9a);
  border-image-slice: 1;
}

.text-custom-gradient {
  color: linear-gradient(279.76deg, #369f99 -23.9%, #ffffff 81.97%);
}
.bgCustomGradien {
  color: linear-gradient(280deg, #369f99 -23.9%, #fff 81.97%);
  /* border-image-slice: 1; */
}


/* <div className="bg-clip-text text-transparent bg-gradient-to-r from-custom-blue to-custom-pink">
      Gradient Text
    </div> */
